In [9]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns  
import sklearn as skl
import scipy
import statsmodels.api as sm

In [51]:
donor_df=pd.read_csv('../data/blooddonerdataset.csv')

## Undertand the Dataset (Data Familiarization)

### First Look at the Data

In [52]:
donor_df.head()

,name,donor_id,blood_group,location_name,latitude,longitude,email,contact_number,age,donor_status,...,verified_by,registration_date,donation_count,donation_frequency_per_year,days_since_last_donation,eligibility_status,eligibility_reason,distance_to_center_km,response_time_minutes,record_status
0,Sunil Magar,DNR000001,A-,Thamel,27.7156,85.3123,donor1@example.com,9708644683,35,Temporary Deferred,...,NaN,2025-06-14,3,0.18,588.0,No,Recent Illness,1.06,33,Active
1,Deepak Tamang,DNR000002,AB+,Koteshwor,27.6789,85.3497,donor2@example.com,9813473886,46,Active,...,NaN,2025-01-17,0,0.00,NaN,Yes,Eligible,6.45,49,Active
2,Deepa Subedi,DNR000003,O-,Boudha,27.7215,85.3616,donor3@example.com,9826572966,34,Active,...,NaN,2025-07-01,3,0.19,417.0,No,Recent Illness,15.01,168,Archived
3,Deepak Shrestha,DNR000004,O+,Thamel,27.7156,85.3123,donor4@example.com,9822540002,32,Temporary Deferred,...,Hospital Admin,2023-11-23,14,1.00,680.0,Yes,Eligible,6.72,78,Active
4,Utsav Shrestha,DNR000005,AB+,Baneshwor,27.6895,85.3420,donor5@example.com,9814324213,58,Active,...,Nepal Red Cross,2025-08-17,21,0.53,362.0,Yes,Eligible,14.59,112,Archived

In [53]:
donor_df.tail()

,name,donor_id,blood_group,location_name,latitude,longitude,email,contact_number,age,donor_status,...,verified_by,registration_date,donation_count,donation_frequency_per_year,days_since_last_donation,eligibility_status,eligibility_reason,distance_to_center_km,response_time_minutes,record_status
9995,Hari Bogati,DNR009996,B+,Kalanki,27.6936,85.2819,donor9996@example.com,9812416177,33,Temporary Deferred,...,Nepal Red Cross,2025-04-19,22,1.47,135.0,No,Recent Illness,9.18,120,Archived
9996,Kalpana Rijal,DNR009997,AB+,Thamel,27.7156,85.3123,donor9997@example.com,9842048631,59,Active,...,Nepal Red Cross,2023-08-24,23,0.56,364.0,No,Recent Illness,5.18,123,Archived
9997,Anu Nepali,DNR009998,A-,Kalanki,27.6936,85.2819,donor9998@example.com,9815132750,54,Active,...,System Admin,2024-01-12,14,0.39,149.0,No,Low Hemoglobin,13.02,16,Archived
9998,Kritika Sapkota,DNR009999,B-,Boudha,27.7215,85.3616,donor9999@example.com,9827946611,41,Inactive,...,NaN,2023-08-17,14,0.61,235.0,Yes,Eligible,15.49,44,Active
9999,Dinesh Aryal,DNR010000,O+,Thamel,27.7156,85.3123,donor10000@example.com,9804344198,25,Temporary Deferred,...,Hospital Admin,2023-02-12,22,3.14,293.0,Yes,Eligible,10.32,163,Archived

In [54]:
donor_df.sample(5)
#generate random rows

,name,donor_id,blood_group,location_name,latitude,longitude,email,contact_number,age,donor_status,...,verified_by,registration_date,donation_count,donation_frequency_per_year,days_since_last_donation,eligibility_status,eligibility_reason,distance_to_center_km,response_time_minutes,record_status
4170,Manisha Chhetri,DNR004171,B+,Baneshwor,27.6895,85.3420,donor4171@example.com,9842053363,57,Inactive,...,NaN,2024-09-08,18,0.46,653.0,No,Underweight,13.13,174,Archived
3581,Saraswati Ghimire,DNR003582,AB-,Koteshwor,27.6789,85.3497,donor3582@example.com,9723005115,43,Temporary Deferred,...,System Admin,2025-07-16,1,0.04,554.0,No,Underweight,8.11,123,Active
7164,Santosh Koirala,DNR007165,A-,Baneshwor,27.6895,85.3420,donor7165@example.com,9841125622,22,Temporary Deferred,...,NaN,2023-11-25,24,6.00,250.0,Yes,Eligible,14.96,135,Archived
9090,Suraj Paudel,DNR009091,O+,Bhaktapur,27.6710,85.4298,donor9091@example.com,9729202007,53,Inactive,...,NaN,2025-06-01,0,0.00,NaN,Yes,Eligible,17.18,156,Archived
5814,Deepak Thapa,DNR005815,AB+,Kalanki,27.6936,85.2819,donor5815@example.com,9800917556,46,Active,...,NaN,2024-08-17,8,0.29,303.0,No,Recent Illness,9.40,92,Archived

In [55]:
donor_df.shape
#(rows,columns)

(10000, 34)

In [56]:
donor_df.columns
# give columns names

Index(['name', 'donor_id', 'blood_group', 'location_name', 'latitude',
       'longitude', 'email', 'contact_number', 'age', 'donor_status',
       'last_donation_date', 'next_eligible_date', 'donor_type', 'rh_factor',
       'weight_kg', 'hemoglobin_level', 'health_clearance',
       'temporary_deferral_reason', 'nearest_hospital',
       'preferred_donation_center', 'availability_time',
       'preferred_contact_method', 'data_source', 'verified_status',
       'verified_by', 'registration_date', 'donation_count',
       'donation_frequency_per_year', 'days_since_last_donation',
       'eligibility_status', 'eligibility_reason', 'distance_to_center_km',
       'response_time_minutes', 'record_status'],
      dtype='object')

In [57]:
donor_df.index

RangeIndex(start=0, stop=10000, step=1)

### Data Types & Schema

In [58]:
donor_df.dtypes

name                            object
donor_id                        object
blood_group                     object
location_name                   object
latitude                       float64
longitude                      float64
email                           object
contact_number                   int64
age                              int64
donor_status                    object
last_donation_date              object
next_eligible_date              object
donor_type                      object
rh_factor                       object
weight_kg                        int64
hemoglobin_level               float64
health_clearance                object
temporary_deferral_reason       object
nearest_hospital                object
preferred_donation_center       object
availability_time               object
preferred_contact_method        object
data_source                     object
verified_status                 object
verified_by                     object
registration_date               object
donation_count                   int64
donation_frequency_per_year    float64
days_since_last_donation       float64
eligibility_status              object
eligibility_reason              object
distance_to_center_km          float64
response_time_minutes            int64
record_status                   object
dtype: object

In [59]:
donor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         10000 non-null  object
 1   donor_id                     10000 non-null  object
 2   blood_group                  10000 non-null  object
 3   location_name                10000 non-null  object
 4   latitude                     10000 non-null  float64
 5   longitude                    10000 non-null  float64
 6   email                        10000 non-null  object
 7   contact_number               10000 non-null  int64
 8   age                          10000 non-null  int64
 9   donor_status                 10000 non-null  object
 10  last_donation_date           9612 non-null   object
 11  next_eligible_date           10000 non-null  object
 12  donor_type                   10000 non-null  object
 13  rh_factor                    10000 non-null  object
 14  weight_kg                    10000 non-null  int64
 15  hemoglobin_level             10000 non-null  float64
 16  health_clearance             10000 non-null  object
 17  temporary_deferral_reason    3480 non-null   object
 18  nearest_hospital             10000 non-null  object
 19  preferred_donation_center    10000 non-null  object
 20  availability_time            10000 non-null  object
 21  preferred_contact_method     10000 non-null  object
 22  data_source                  10000 non-null  object
 23  verified_status              10000 non-null  object
 24  verified_by                  4973 non-null   object
 25  registration_date            10000 non-null  object
 26  donation_count               10000 non-null  int64
 27  donation_frequency_per_year  10000 non-null  float64
 28  days_since_last_donation     9612 non-null   float64
 29  eligibility_status           10000 non-null  object
 30  eligibility_reason           10000 non-null  object
 31  distance_to_center_km        10000 non-null  float64
 32  response_time_minutes        10000 non-null  int64
 33  record_status                10000 non-null  object
dtypes: float64(6), int64(5), object(23)
memory usage: 2.6+ MB

### Understanding Values in Columns

In [60]:
donor_df.describe()

,latitude,longitude,contact_number,age,weight_kg,hemoglobin_level,donation_count,donation_frequency_per_year,days_since_last_donation,distance_to_center_km,response_time_minutes
count,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9612.000000,10000.000000,10000.000000
mean,27.691261,85.341979,9.786477e+09,38.996700,67.329000,13.756270,12.545700,1.541424,375.514149,9.144172,94.852200
std,0.019474,0.043836,5.734177e+07,12.383183,13.366077,1.585822,7.490923,3.232697,199.638492,5.054156,49.439433
min,27.667300,85.281900,9.700000e+09,18.000000,45.000000,11.000000,0.000000,0.000000,30.000000,0.500000,10.000000
25%,27.671000,85.312300,9.720227e+09,28.000000,56.000000,12.400000,6.000000,0.290000,199.000000,4.670000,52.000000
50%,27.689500,85.342000,9.810422e+09,39.000000,67.000000,13.700000,13.000000,0.590000,379.500000,9.150000,94.000000
75%,27.715600,85.361600,9.840108e+09,50.000000,79.000000,15.125000,19.000000,1.220000,547.000000,13.482500,137.000000
max,27.721500,85.429800,9.859991e+09,60.000000,90.000000,16.500000,25.000000,25.000000,720.000000,18.000000,180.000000

In [61]:
donor_df['blood_group'].value_counts()

blood_group
A+     1292
A-     1278
AB-    1263
AB+    1260
B+     1257
B-     1235
O-     1213
O+     1202
Name: count, dtype: int64

In [48]:
doner_df['location_name'].value_counts()

location_name
Kalanki       1489
Thamel        1450
Bhaktapur     1444
Boudha        1438
Baneshwor     1402
Jawalakhel    1397
Koteshwor     1380
Name: count, dtype: int64

In [62]:
donor_df['donor_status'].value_counts()

donor_status
Inactive              3444
Temporary Deferred    3351
Active                3205
Name: count, dtype: int64

In [63]:
donor_df['age'].value_counts()

age
27    263
24    259
33    258
52    256
54    253
58    249
22    249
51    248
45    247
26    247
39    247
38    244
43    242
55    239
29    237
21    237
42    234
36    233
19    233
18    232
48    232
37    231
44    231
40    231
46    230
49    229
35    229
57    228
30    228
59    226
56    225
31    222
23    221
32    221
25    219
34    218
60    217
53    216
28    216
41    216
47    209
50    206
20    192
Name: count, dtype: int64

In [66]:
donor_df['donor_type'].value_counts()

donor_type
Replacement    5021
Voluntary      4979
Name: count, dtype: int64

In [67]:
donor_df['rh_factor'].value_counts()

rh_factor
Positive    5011
Negative    4989
Name: count, dtype: int64

In [69]:
donor_df['hemoglobin_level'].value_counts()

hemoglobin_level
14.7    210
15.4    200
15.8    200
12.4    199
13.3    198
15.3    196
13.2    196
12.3    196
13.9    196
15.5    195
15.2    195
12.9    193
14.0    192
13.7    191
11.6    190
16.2    189
11.3    189
14.8    189
12.0    189
11.1    188
12.1    186
13.0    186
15.0    186
15.7    185
16.3    184
15.9    184
13.8    184
12.5    184
13.1    184
13.4    184
13.6    181
16.4    181
12.2    180
15.1    178
16.0    178
11.2    177
12.7    177
14.5    176
11.9    176
14.1    175
11.7    175
11.8    173
16.1    173
13.5    170
14.6    168
14.2    166
11.4    166
15.6    166
14.9    166
11.5    164
14.4    161
12.6    160
12.8    160
14.3    150
11.0     91
16.5     74
Name: count, dtype: int64

In [71]:
donor_df['health_clearance'].value_counts()

health_clearance
Yes    6520
No     3480
Name: count, dtype: int64

In [72]:
donor_df['temporary_deferral_reason'].value_counts()

temporary_deferral_reason
Recent Illness    1211
Low Hemoglobin    1154
Underweight       1115
Name: count, dtype: int64

In [74]:
donor_df['nearest_hospital'].value_counts()

nearest_hospital
National Trauma Center       1489
Bir Hospital                 1450
Bhaktapur Hospital           1444
Kanti Children's Hospital    1438
Shahid Gangalal Hospital     1402
Patan Hospital               1397
Civil Service Hospital       1380
Name: count, dtype: int64

In [75]:
donor_df['preferred_donation_center'].value_counts()

preferred_donation_center
Nepal Red Cross Central Blood Bank    2939
Teaching Hospital Blood Bank          2840
Bhaktapur Blood Bank                  1444
Patan Blood Bank                      1397
Civil Hospital Blood Unit             1380
Name: count, dtype: int64

In [76]:
donor_df['availability_time'].value_counts()

availability_time
Morning    5073
Evening    4927
Name: count, dtype: int64

In [77]:
donor_df['preferred_contact_method'].value_counts()

preferred_contact_method
SMS      3390
Email    3313
Call     3297
Name: count, dtype: int64

In [ ]:
donor_df['preferred_contact_method'].value_counts()