In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns  
import sklearn as skl
import scipy
import statsmodels.api as sm

In [3]:
df=pd.read_csv('../data/blooddonerdataset.csv')

In [4]:
df.head()

,name,donor_id,blood_group,location_name,latitude,longitude,email,contact_number,age,donor_status,...,verified_by,registration_date,donation_count,donation_frequency_per_year,days_since_last_donation,eligibility_status,eligibility_reason,distance_to_center_km,response_time_minutes,record_status
0,Sunil Magar,DNR000001,A-,Thamel,27.7156,85.3123,donor1@example.com,9708644683,35,Temporary Deferred,...,NaN,2025-06-14,3,0.18,588.0,No,Recent Illness,1.06,33,Active
1,Deepak Tamang,DNR000002,AB+,Koteshwor,27.6789,85.3497,donor2@example.com,9813473886,46,Active,...,NaN,2025-01-17,0,0.00,NaN,Yes,Eligible,6.45,49,Active
2,Deepa Subedi,DNR000003,O-,Boudha,27.7215,85.3616,donor3@example.com,9826572966,34,Active,...,NaN,2025-07-01,3,0.19,417.0,No,Recent Illness,15.01,168,Archived
3,Deepak Shrestha,DNR000004,O+,Thamel,27.7156,85.3123,donor4@example.com,9822540002,32,Temporary Deferred,...,Hospital Admin,2023-11-23,14,1.00,680.0,Yes,Eligible,6.72,78,Active
4,Utsav Shrestha,DNR000005,AB+,Baneshwor,27.6895,85.3420,donor5@example.com,9814324213,58,Active,...,Nepal Red Cross,2025-08-17,21,0.53,362.0,Yes,Eligible,14.59,112,Archived

In [5]:
df["blood_group"]
#working with the specific column in dataframe

0        A-
1       AB+
2        O-
3        O+
4       AB+
       ...
9995     B+
9996    AB+
9997     A-
9998     B-
9999     O+
Name: blood_group, Length: 10000, dtype: object

In [6]:
df["blood_group"].max()
# not meaning full but return lexicographically largest value

'O-'

In [9]:
bloodgrp=df["blood_group"]
bloodgrp
#creating the series from scratch

0        A-
1       AB+
2        O-
3        O+
4       AB+
       ...
9995     B+
9996    AB+
9997     A-
9998     B-
9999     O+
Name: blood_group, Length: 10000, dtype: object

In [12]:
df.describe()
#give statistical summary of your dataset

,latitude,longitude,contact_number,age,weight_kg,hemoglobin_level,donation_count,donation_frequency_per_year,days_since_last_donation,distance_to_center_km,response_time_minutes
count,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9612.000000,10000.000000,10000.000000
mean,27.691261,85.341979,9.786477e+09,38.996700,67.329000,13.756270,12.545700,1.541424,375.514149,9.144172,94.852200
std,0.019474,0.043836,5.734177e+07,12.383183,13.366077,1.585822,7.490923,3.232697,199.638492,5.054156,49.439433
min,27.667300,85.281900,9.700000e+09,18.000000,45.000000,11.000000,0.000000,0.000000,30.000000,0.500000,10.000000
25%,27.671000,85.312300,9.720227e+09,28.000000,56.000000,12.400000,6.000000,0.290000,199.000000,4.670000,52.000000
50%,27.689500,85.342000,9.810422e+09,39.000000,67.000000,13.700000,13.000000,0.590000,379.500000,9.150000,94.000000
75%,27.715600,85.361600,9.840108e+09,50.000000,79.000000,15.125000,19.000000,1.220000,547.000000,13.482500,137.000000
max,27.721500,85.429800,9.859991e+09,60.000000,90.000000,16.500000,25.000000,25.000000,720.000000,18.000000,180.000000