In [15]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns  
import sklearn as skl
import scipy
import statsmodels.api as sm

In [16]:
donor_df=pd.read_csv('../data/blooddonerdataset.csv')

## Undertand the Dataset (Data Familiarization)

### First Look at the Data

In [17]:
donor_df.head()

,name,donor_id,blood_group,location_name,latitude,longitude,email,contact_number,age,donor_status,...,verified_by,registration_date,donation_count,donation_frequency_per_year,days_since_last_donation,eligibility_status,eligibility_reason,distance_to_center_km,response_time_minutes,record_status
0,Sunil Magar,DNR000001,A-,Thamel,27.7156,85.3123,donor1@example.com,9708644683,35,Temporary Deferred,...,NaN,2025-06-14,3,0.18,588.0,No,Recent Illness,1.06,33,Active
1,Deepak Tamang,DNR000002,AB+,Koteshwor,27.6789,85.3497,donor2@example.com,9813473886,46,Active,...,NaN,2025-01-17,0,0.00,NaN,Yes,Eligible,6.45,49,Active
2,Deepa Subedi,DNR000003,O-,Boudha,27.7215,85.3616,donor3@example.com,9826572966,34,Active,...,NaN,2025-07-01,3,0.19,417.0,No,Recent Illness,15.01,168,Archived
3,Deepak Shrestha,DNR000004,O+,Thamel,27.7156,85.3123,donor4@example.com,9822540002,32,Temporary Deferred,...,Hospital Admin,2023-11-23,14,1.00,680.0,Yes,Eligible,6.72,78,Active
4,Utsav Shrestha,DNR000005,AB+,Baneshwor,27.6895,85.3420,donor5@example.com,9814324213,58,Active,...,Nepal Red Cross,2025-08-17,21,0.53,362.0,Yes,Eligible,14.59,112,Archived

In [18]:
donor_df.tail()

,name,donor_id,blood_group,location_name,latitude,longitude,email,contact_number,age,donor_status,...,verified_by,registration_date,donation_count,donation_frequency_per_year,days_since_last_donation,eligibility_status,eligibility_reason,distance_to_center_km,response_time_minutes,record_status
9995,Hari Bogati,DNR009996,B+,Kalanki,27.6936,85.2819,donor9996@example.com,9812416177,33,Temporary Deferred,...,Nepal Red Cross,2025-04-19,22,1.47,135.0,No,Recent Illness,9.18,120,Archived
9996,Kalpana Rijal,DNR009997,AB+,Thamel,27.7156,85.3123,donor9997@example.com,9842048631,59,Active,...,Nepal Red Cross,2023-08-24,23,0.56,364.0,No,Recent Illness,5.18,123,Archived
9997,Anu Nepali,DNR009998,A-,Kalanki,27.6936,85.2819,donor9998@example.com,9815132750,54,Active,...,System Admin,2024-01-12,14,0.39,149.0,No,Low Hemoglobin,13.02,16,Archived
9998,Kritika Sapkota,DNR009999,B-,Boudha,27.7215,85.3616,donor9999@example.com,9827946611,41,Inactive,...,NaN,2023-08-17,14,0.61,235.0,Yes,Eligible,15.49,44,Active
9999,Dinesh Aryal,DNR010000,O+,Thamel,27.7156,85.3123,donor10000@example.com,9804344198,25,Temporary Deferred,...,Hospital Admin,2023-02-12,22,3.14,293.0,Yes,Eligible,10.32,163,Archived

In [19]:
donor_df.sample(5)
#generate random rows

,name,donor_id,blood_group,location_name,latitude,longitude,email,contact_number,age,donor_status,...,verified_by,registration_date,donation_count,donation_frequency_per_year,days_since_last_donation,eligibility_status,eligibility_reason,distance_to_center_km,response_time_minutes,record_status
2895,Anu Karki,DNR002896,AB-,Boudha,27.7215,85.3616,donor2896@example.com,9716228031,37,Active,...,System Admin,2022-12-23,6,0.32,137.0,Yes,Eligible,4.96,156,Active
9688,Deepak Dhakal,DNR009689,B+,Thamel,27.7156,85.3123,donor9689@example.com,9728742690,45,Inactive,...,Hospital Admin,2022-09-23,1,0.04,709.0,Yes,Eligible,3.42,101,Archived
1770,Shankar Maharjan,DNR001771,AB+,Koteshwor,27.6789,85.3497,donor1771@example.com,9713207299,22,Inactive,...,NaN,2023-11-24,17,4.25,702.0,Yes,Eligible,4.66,43,Active
70,Bikash Bhandari,DNR000071,O+,Kalanki,27.6936,85.2819,donor71@example.com,9847518863,59,Inactive,...,Hospital Admin,2022-02-03,12,0.29,466.0,No,Underweight,12.97,123,Active
5218,Rachana Tamang,DNR005219,A-,Kalanki,27.6936,85.2819,donor5219@example.com,9859394935,31,Inactive,...,Nepal Red Cross,2024-08-20,4,0.31,720.0,No,Underweight,10.05,49,Archived

In [20]:
donor_df.shape
#(rows,columns)

(10000, 34)

In [21]:
donor_df.columns
# give columns names

Index(['name', 'donor_id', 'blood_group', 'location_name', 'latitude',
       'longitude', 'email', 'contact_number', 'age', 'donor_status',
       'last_donation_date', 'next_eligible_date', 'donor_type', 'rh_factor',
       'weight_kg', 'hemoglobin_level', 'health_clearance',
       'temporary_deferral_reason', 'nearest_hospital',
       'preferred_donation_center', 'availability_time',
       'preferred_contact_method', 'data_source', 'verified_status',
       'verified_by', 'registration_date', 'donation_count',
       'donation_frequency_per_year', 'days_since_last_donation',
       'eligibility_status', 'eligibility_reason', 'distance_to_center_km',
       'response_time_minutes', 'record_status'],
      dtype='object')

In [22]:
donor_df.index

RangeIndex(start=0, stop=10000, step=1)

### Data Types & Schema

In [23]:
donor_df.dtypes

name                            object
donor_id                        object
blood_group                     object
location_name                   object
latitude                       float64
longitude                      float64
email                           object
contact_number                   int64
age                              int64
donor_status                    object
last_donation_date              object
next_eligible_date              object
donor_type                      object
rh_factor                       object
weight_kg                        int64
hemoglobin_level               float64
health_clearance                object
temporary_deferral_reason       object
nearest_hospital                object
preferred_donation_center       object
availability_time               object
preferred_contact_method        object
data_source                     object
verified_status                 object
verified_by                     object
registration_date               object
donation_count                   int64
donation_frequency_per_year    float64
days_since_last_donation       float64
eligibility_status              object
eligibility_reason              object
distance_to_center_km          float64
response_time_minutes            int64
record_status                   object
dtype: object

In [24]:
donor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         10000 non-null  object
 1   donor_id                     10000 non-null  object
 2   blood_group                  10000 non-null  object
 3   location_name                10000 non-null  object
 4   latitude                     10000 non-null  float64
 5   longitude                    10000 non-null  float64
 6   email                        10000 non-null  object
 7   contact_number               10000 non-null  int64
 8   age                          10000 non-null  int64
 9   donor_status                 10000 non-null  object
 10  last_donation_date           9612 non-null   object
 11  next_eligible_date           10000 non-null  object
 12  donor_type                   10000 non-null  object
 13  rh_factor                    10000 non-null  object
 14  weight_kg                    10000 non-null  int64
 15  hemoglobin_level             10000 non-null  float64
 16  health_clearance             10000 non-null  object
 17  temporary_deferral_reason    3480 non-null   object
 18  nearest_hospital             10000 non-null  object
 19  preferred_donation_center    10000 non-null  object
 20  availability_time            10000 non-null  object
 21  preferred_contact_method     10000 non-null  object
 22  data_source                  10000 non-null  object
 23  verified_status              10000 non-null  object
 24  verified_by                  4973 non-null   object
 25  registration_date            10000 non-null  object
 26  donation_count               10000 non-null  int64
 27  donation_frequency_per_year  10000 non-null  float64
 28  days_since_last_donation     9612 non-null   float64
 29  eligibility_status           10000 non-null  object
 30  eligibility_reason           10000 non-null  object
 31  distance_to_center_km        10000 non-null  float64
 32  response_time_minutes        10000 non-null  int64
 33  record_status                10000 non-null  object
dtypes: float64(6), int64(5), object(23)
memory usage: 2.6+ MB

### Understanding Values in Columns

In [25]:
donor_df.describe()

,latitude,longitude,contact_number,age,weight_kg,hemoglobin_level,donation_count,donation_frequency_per_year,days_since_last_donation,distance_to_center_km,response_time_minutes
count,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9612.000000,10000.000000,10000.000000
mean,27.691261,85.341979,9.786477e+09,38.996700,67.329000,13.756270,12.545700,1.541424,375.514149,9.144172,94.852200
std,0.019474,0.043836,5.734177e+07,12.383183,13.366077,1.585822,7.490923,3.232697,199.638492,5.054156,49.439433
min,27.667300,85.281900,9.700000e+09,18.000000,45.000000,11.000000,0.000000,0.000000,30.000000,0.500000,10.000000
25%,27.671000,85.312300,9.720227e+09,28.000000,56.000000,12.400000,6.000000,0.290000,199.000000,4.670000,52.000000
50%,27.689500,85.342000,9.810422e+09,39.000000,67.000000,13.700000,13.000000,0.590000,379.500000,9.150000,94.000000
75%,27.715600,85.361600,9.840108e+09,50.000000,79.000000,15.125000,19.000000,1.220000,547.000000,13.482500,137.000000
max,27.721500,85.429800,9.859991e+09,60.000000,90.000000,16.500000,25.000000,25.000000,720.000000,18.000000,180.000000

In [26]:
donor_df['blood_group'].value_counts()
# donor_df['blood_group'].unique() give unique value in column
# donor_df['blood_group'].nunique() give number of unique value in column

blood_group
A+     1292
A-     1278
AB-    1263
AB+    1260
B+     1257
B-     1235
O-     1213
O+     1202
Name: count, dtype: int64

In [27]:
doner_df['location_name'].value_counts()

NameError: name 'doner_df' is not defined

In [ ]:
donor_df['donor_status'].value_counts()

In [ ]:
donor_df['age'].value_counts()

In [ ]:
donor_df['donor_type'].value_counts()

In [ ]:
donor_df['rh_factor'].value_counts()

In [ ]:
donor_df['hemoglobin_level'].value_counts()

In [ ]:
donor_df['health_clearance'].value_counts()

In [ ]:
donor_df['temporary_deferral_reason'].value_counts()

In [ ]:
donor_df['nearest_hospital'].value_counts()

In [ ]:
donor_df['preferred_donation_center'].value_counts()

In [ ]:
donor_df['availability_time'].value_counts()

In [ ]:
donor_df['preferred_contact_method'].value_counts()

In [ ]:
donor_df['verified_status'].value_counts()

In [ ]:
donor_df['verified_by'].value_counts()

In [ ]:
donor_df['donation_count'].value_counts()

In [ ]:
donor_df['donation_frequency_per_year'].value_counts()

In [ ]:
donor_df['eligibility_status'].value_counts()

In [ ]:
donor_df['eligibility_reason'].value_counts()

In [ ]:
donor_df['record_status'].value_counts()

In [ ]:
donor_df['response_time_minutes'].value_counts()

### Missing Values

In [ ]:
donor_df.isnull().sum()

In [ ]:
donor_df.isna().mean() *100
#perceentage missing

### Duplicates

In [ ]:
donor_df.duplicated().sum()
# counts number of duplicated rows in dataframe

### Outliers & Data Range

In [ ]:
donor_df["age"].min()

In [ ]:
donor_df["age"].max()

In [ ]:
donor_df["age"].quantile([0.01,0.99])
#used to calculate the 1st and 99th percentiles

In [28]:
donor_df["hemoglobin_level"].quantile([0.01,0.99])

0.01    11.1
0.99    16.4
Name: hemoglobin_level, dtype: float64

In [32]:
donor_df["weight_kg"].quantile([0.01,0.99])

0.01    45.0
0.99    90.0
Name: weight_kg, dtype: float64

In [33]:
donor_df["donation_count"].quantile([0.01,0.99])

0.01     0.0
0.99    25.0
Name: donation_count, dtype: float64

In [34]:
donor_df["donation_frequency_per_year"].quantile([0.01,0.99])

0.01     0.0
0.99    19.0
Name: donation_frequency_per_year, dtype: float64

In [36]:
donor_df["response_time_minutes"].quantile([0.01,0.99])

0.01     11.0
0.99    179.0
Name: response_time_minutes, dtype: float64

### Relationships Between Columns

In [37]:
donor_df.corr(numeric_only=True)

,latitude,longitude,contact_number,age,weight_kg,hemoglobin_level,donation_count,donation_frequency_per_year,days_since_last_donation,distance_to_center_km,response_time_minutes
latitude,1.000000,-0.270460,0.006812,0.008528,0.007028,-0.002786,-0.010162,-0.018170,-0.006334,-0.008752,-0.001357
longitude,-0.270460,1.000000,0.009109,0.010016,0.007736,0.008437,0.010483,-0.008191,0.009374,-0.006951,0.008446
contact_number,0.006812,0.009109,1.000000,-0.004275,0.004678,0.001784,0.001901,0.005714,-0.006471,-0.011412,-0.009616
age,0.008528,0.010016,-0.004275,1.000000,-0.005713,0.003914,-0.003672,-0.502445,0.003246,0.005601,0.003239
weight_kg,0.007028,0.007736,0.004678,-0.005713,1.000000,-0.009981,-0.013786,0.004176,-0.010373,-0.018174,-0.000599
hemoglobin_level,-0.002786,0.008437,0.001784,0.003914,-0.009981,1.000000,0.007332,0.007233,-0.010342,-0.007031,-0.008643
donation_count,-0.010162,0.010483,0.001901,-0.003672,-0.013786,0.007332,1.000000,0.284806,-0.004408,0.000323,-0.022252
donation_frequency_per_year,-0.018170,-0.008191,0.005714,-0.502445,0.004176,0.007233,0.284806,1.000000,-0.006733,-0.011254,-0.008477
days_since_last_donation,-0.006334,0.009374,-0.006471,0.003246,-0.010373,-0.010342,-0.004408,-0.006733,1.000000,0.005154,0.005830
distance_to_center_km,-0.008752,-0.006951,-0.011412,0.005601,-0.018174,-0.007031,0.000323,-0.011254,0.005154,1.000000,-0.004368
response_time_minutes,-0.001357,0.008446,-0.009616,0.003239,-0.000599,-0.008643,-0.022252,-0.008477,0.005830,-0.004368,1.000000

In [42]:
donor_df.groupby('age')[['weight_kg','hemoglobin_level','donation_count','donation_frequency_per_year']].mean()

     weight_kg  hemoglobin_level  donation_count  donation_frequency_per_year
age
18   69.375000         13.761638       12.646552                    12.646552
19   67.639485         13.761373       12.459227                    12.459227
20   66.645833         13.576042       12.536458                     6.268229
21   67.966245         13.829958       13.206751                     4.402152
22   66.594378         13.698795       11.522088                     2.880522
23   66.660633         13.609050       12.891403                     2.578281
24   66.540541         13.832819       12.034749                     2.005946
25   66.835616         13.754338       12.995434                     1.856804
26   68.481781         13.923482       12.813765                     1.601538
27   67.121673         13.823574       12.072243                     1.340951
28   67.388889         13.696296       13.467593                     1.346759
29   66.784810         13.718987       13.324895                     1.211350
30   65.964912         13.759211       12.491228                     1.040702
31   68.031532         13.605405       12.644144                     0.972162
32   66.918552         13.824434       12.176471                     0.869819
33   67.790698         13.779070       13.364341                     0.891047
34   67.940367         13.807798       11.862385                     0.740734
35   67.580786         13.705240       12.655022                     0.744236
36   68.776824         13.784549       13.008584                     0.722918
37   67.450216         13.539827       12.311688                     0.648009
38   67.065574         13.725820       12.549180                     0.627459
39   68.255061         13.819433       13.060729                     0.622024
40   67.112554         13.874459       12.329004                     0.560693
41   66.708333         14.023611       12.046296                     0.523519
42   65.115385         13.754701       12.384615                     0.515855
43   68.392562         13.762810       12.396694                     0.495868
44   67.255411         13.553247       11.510823                     0.442684
45   67.615385         13.911741       13.109312                     0.485749
46   68.721739         13.758261       11.986957                     0.428174
47   68.468900         13.544976       12.803828                     0.441435
48   66.038793         13.790948       11.892241                     0.396207
49   67.467249         13.732314       12.061135                     0.388777
50   68.043689         13.943204       12.699029                     0.396505
51   66.814516         13.610081       12.830645                     0.388347
52   65.953125         13.641016       12.949219                     0.381406
53   66.615741         13.613889       12.180556                     0.348380
54   67.134387         13.720553       12.280632                     0.341107
55   66.882845         13.904184       12.397490                     0.335439
56   66.560000         13.775556       12.897778                     0.339511
57   68.153509         13.706579       12.100877                     0.310526
58   67.044177         13.892369       12.955823                     0.324297
59   68.632743         13.940708       12.690265                     0.309956
60   66.737327         13.659447       12.838710                     0.305899

### Validate Data Quality Rules

In [43]:
(donor_df['age'] >=0 ).all()

np.True_

In [45]:
(donor_df['weight_kg'] >=0 ).all()

np.True_

In [46]:
(donor_df['hemoglobin_level'] >=0 ).all()

np.True_

In [47]:
(donor_df['next_eligible_date']>=donor_df['last_donation_date']).all()

np.False_

In [48]:
donor_df.nunique().sort_values(ascending=False)

donor_id                       10000
email                          10000
contact_number                  9999
name                            2146
distance_to_center_km           1746
registration_date               1469
next_eligible_date               691
days_since_last_donation         691
last_donation_date               691
donation_frequency_per_year      268
response_time_minutes            171
hemoglobin_level                  56
weight_kg                         46
age                               43
donation_count                    26
blood_group                        8
latitude                           7
location_name                      7
nearest_hospital                   7
longitude                          7
preferred_donation_center          5
eligibility_reason                 4
donor_status                       3
preferred_contact_method           3
data_source                        3
temporary_deferral_reason          3
verified_by                        3
health_clearance                   2
donor_type                         2
rh_factor                          2
verified_status                    2
availability_time                  2
eligibility_status                 2
record_status                      2
dtype: int64

### Frequncy & Distribution Shape

In [51]:
donor_df['blood_group'].value_counts(normalize=True)

blood_group
A+     0.1292
A-     0.1278
AB-    0.1263
AB+    0.1260
B+     0.1257
B-     0.1235
O-     0.1213
O+     0.1202
Name: proportion, dtype: float64

In [53]:
donor_df.nunique()==1

name                           False
donor_id                       False
blood_group                    False
location_name                  False
latitude                       False
longitude                      False
email                          False
contact_number                 False
age                            False
donor_status                   False
last_donation_date             False
next_eligible_date             False
donor_type                     False
rh_factor                      False
weight_kg                      False
hemoglobin_level               False
health_clearance               False
temporary_deferral_reason      False
nearest_hospital               False
preferred_donation_center      False
availability_time              False
preferred_contact_method       False
data_source                    False
verified_status                False
verified_by                    False
registration_date              False
donation_count                 False
donation_frequency_per_year    False
days_since_last_donation       False
eligibility_status             False
eligibility_reason             False
distance_to_center_km          False
response_time_minutes          False
record_status                  False
dtype: bool

### Analyze Text Columns

In [54]:
donor_df['name'].str.len().describe()

count    10000.000000
mean        12.887400
std          1.702766
min          7.000000
25%         12.000000
50%         13.000000
75%         14.000000
max         19.000000
Name: name, dtype: float64

### Row-Wise Analysis

In [58]:
donor_df.isnull().sum(axis=1).describe()

count    10000.000000
mean         1.232300
std          0.788796
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          4.000000
dtype: float64

### Feature Interaction Checks

In [61]:
pd.crosstab(donor_df['age'],donor_df["blood_group"])

blood_group  A+  A-  AB+  AB-  B+  B-  O+  O-
age
18           28  33   27   33  40  30  21  20
19           37  22   33   17  24  41  32  27
20           19  22   22   35  29  19  19  27
21           23  35   38   29  25  31  31  25
22           33  33   36   29  27  27  33  31
23           23  41   24   36  29  20  26  22
24           34  39   38   27  33  33  26  29
25           38  25   18   29  29  16  25  39
26           31  28   37   37  34  28  24  28
27           29  31   33   28  40  32  27  43
28           20  35   22   27  32  21  31  28
29           35  32   35   33  21  32  27  22
30           29  21   32   25  34  34  27  26
31           27  30   20   33  41  24  32  15
32           29  29   22   30  19  32  31  29
33           25  34   41   34  35  34  24  31
34           27  24   32   24  20  28  38  25
35           37  29   27   32  26  31  24  23
36           31  27   27   34  25  31  24  34
37           40  27   33   26  29  30  21  25
38           39  25   31   31  31  28  31  28
39           35  29   31   27  23  33  39  30
40           36  27   26   28  30  30  34  20
41           22  32   26   24  23  21  39  29
42           22  33   25   32  29  35  31  27
43           40  36   33   31  26  23  28  25
44           34  34   28   27  23  32  32  21
45           25  39   29   30  31  31  34  28
46           20  31   23   22  40  23  32  39
47           32  29   27   19  21  21  28  32
48           35  29   26   31  19  36  32  24
49           30  25   32   30  27  28  23  34
50           26  23   24   23  32  20  27  31
51           38  43   31   30  29  25  22  30
52           40  30   29   38  34  31  27  27
53           28  29   20   35  23  28  25  28
54           26  30   35   41  32  34  22  33
55           25  24   43   26  30  27  30  34
56           29  25   25   41  33  28  26  18
57           27  21   29   24  35  29  28  35
58           28  31   31   31  35  36  23  34
59           33  34   31   18  29  33  20  28
60           27  22   28   26  30  29  26  29

In [62]:
pd.crosstab(donor_df['location_name'],donor_df["blood_group"])

blood_group     A+   A-  AB+  AB-   B+   B-   O+   O-
location_name
Baneshwor      177  193  181  176  166  181  172  156
Bhaktapur      180  163  194  170  194  171  188  184
Boudha         199  186  155  163  186  175  176  198
Jawalakhel     196  184  170  183  178  184  146  156
Kalanki        187  200  190  179  196  182  169  186
Koteshwor      162  169  178  206  165  171  171  158
Thamel         191  183  192  186  172  171  180  175

In [63]:
pd.crosstab(donor_df['location_name'],donor_df["donor_status"])

donor_status   Active  Inactive  Temporary Deferred
location_name
Baneshwor         424       498                 480
Bhaktapur         463       507                 474
Boudha            432       498                 508
Jawalakhel        469       473                 455
Kalanki           480       526                 483
Koteshwor         456       454                 470
Thamel            481       488                 481

In [64]:
pd.crosstab(donor_df['blood_group'],donor_df["rh_factor"])

rh_factor    Negative  Positive
blood_group
A+                  0      1292
A-               1278         0
AB+                 0      1260
AB-              1263         0
B+                  0      1257
B-               1235         0
O+                  0      1202
O-               1213         0

In [66]:
pd.crosstab(donor_df['blood_group'],donor_df["health_clearance"])

health_clearance   No  Yes
blood_group
A+                463  829
A-                436  842
AB+               455  805
AB-               434  829
B+                436  821
B-                432  803
O+                402  800
O-                422  791

In [65]:
pd.crosstab(donor_df['blood_group'],donor_df["hemoglobin_level"])

hemoglobin_level,11.0,11.1,11.2,11.3,11.4,11.5,11.6,11.7,11.8,11.9,...,15.6,15.7,15.8,15.9,16.0,16.1,16.2,16.3,16.4,16.5
blood_group,,,,,,,,,,,,,,,,,,,,,
A+,11,28,24,25,21,23,23,21,23,25,...,21,20,20,22,33,20,23,22,22,8
A-,12,26,29,23,17,25,26,23,23,17,...,14,24,27,26,24,16,36,21,22,14
AB+,11,21,38,27,21,25,24,19,16,24,...,17,25,20,30,23,22,17,24,27,10
AB-,11,14,17,23,20,16,16,31,24,24,...,20,29,31,22,23,25,25,21,17,7
B+,15,24,20,22,19,19,26,18,24,13,...,23,21,22,21,23,27,25,22,26,9
B-,14,26,19,28,16,15,27,26,30,27,...,27,26,25,21,18,22,18,18,19,5
O+,12,22,15,23,24,17,19,17,18,18,...,23,24,29,23,16,20,17,27,26,14
O-,5,27,15,18,28,24,29,20,15,28,...,21,16,26,19,18,21,28,29,22,7

In [67]:
pd.crosstab(donor_df['blood_group'],donor_df["temporary_deferral_reason"])

temporary_deferral_reason  Low Hemoglobin  Recent Illness  Underweight
blood_group
A+                                    159             161          143
A-                                    135             157          144
AB+                                   166             159          130
AB-                                   137             146          151
B+                                    146             153          137
B-                                    133             152          147
O+                                    128             145          129
O-                                    150             138          134

In [68]:
pd.crosstab(donor_df['blood_group'],donor_df["nearest_hospital"])

nearest_hospital,Bhaktapur Hospital,Bir Hospital,Civil Service Hospital,Kanti Children's Hospital,National Trauma Center,Patan Hospital,Shahid Gangalal Hospital
blood_group,,,,,,,
A+,180,191,162,199,187,196,177
A-,163,183,169,186,200,184,193
AB+,194,192,178,155,190,170,181
AB-,170,186,206,163,179,183,176
B+,194,172,165,186,196,178,166
B-,171,171,171,175,182,184,181
O+,188,180,171,176,169,146,172
O-,184,175,158,198,186,156,156

In [70]:
pd.crosstab(donor_df['blood_group'],donor_df["preferred_donation_center"])

preferred_donation_center,Bhaktapur Blood Bank,Civil Hospital Blood Unit,Nepal Red Cross Central Blood Bank,Patan Blood Bank,Teaching Hospital Blood Bank
blood_group,,,,,
A+,180,162,378,196,376
A-,163,169,383,184,379
AB+,194,178,382,170,336
AB-,170,206,365,183,339
B+,194,165,368,178,352
B-,171,171,353,184,356
O+,188,171,349,146,348
O-,184,158,361,156,354